@charset "utf-8";

/*.bg-image {
    background-image: url("images/product.original.jpg");
    background-image: responsive;
      background-repeat: no-repeat;
      background-position: center center;
      height:40%;
      margin-top:1%;
      margin-bottom:1%;
  }*/

body{
      background-color: #333; 
    background-image: url("images/product.original.jpg");
    background-size:cover;
    /*background-image: responsive;*/
      background-repeat: no-repeat;
      background-position: center center;
      /*background-size:100%;*/
      background-attachment:fixed;

      font-family: 'Open Sans', sans-serif;
      height:100%;
      vertical-align:middle;

    }  
.camera-panel{
	position:absolute;
	width:10%;
	height:100%;
	background-color:rgba(64,64,64,0.95);
	text-align:center;
	right:0;
	bottom:0;
}
.camera-icon{
	position:relative;
	vertical-align:middle;
	width:100%;
	color:#E6E6E6;
	background:none;
	border:none;
	text-align:center;
	font-size:400%;
	height:20%;
	top:40%;
	bottom:40%

}
.funky{
	position:absolute;
	bottom:0;
	height:100%;
	float:right;
	right:10%;
	text-align:center;
}
.forms{
	position:relative;
	/*margin-right:20%;
	margin-left:20%;*/
}
.funky select{
	font-size:1em;
	height:5%;
}
.funky .btn-primary{
	position:relative;
	background-color:#30AC59;
	border:none;
	width:100%;
	padding-top:2%;
	padding-bottom:2%;
	font-size:150%;
}
.funky .btn-default{
	position:relative;
	background-color:#ffffff;
	border:none;
	/*width:100%;*/
	padding:2%;
	/*padding-bottom:2%;*/

	font-size:150%;
	text-align:left;
	font-family: 'Open Sans', sans-serif;
}

@media (max-width: 767px){
	.container{
		z-index:0;
	}
	.row{
		z-index:0;
	}
	.camera-icon{
		font-size:300%;
}
.bg-image {
	/*position:absolute;*/
   width:100%;
      margin-top:1%;
      margin-bottom:1%;
      z-index:1;
  }
}
#user-comments{
	position:relative;
	width:100%;
	border-radius:10px;
}

.pg_head{
	position:relative;
	height:10%;
	width:100%;
}
.borrow{
	position:absolute;
	height:100%;
	width:100%;
}
.borrow .col-sm-1{
	display:table;
	position:relative;
	height:100%;
	text-align:center;
}
.back-row{
	width:760px;
	z-index:-1;
}
#params{
	position:relative;
	background:rgba(64,64,64,0.8);
	padding:10px;
	height:100%;
	width:40%;
	bottom:0;
	display:table-cell;
}
.forms{
	position:relative;
	height:auto;
}
#statementsbody{
	background:rgba(64,64,64,0.8);
	padding:10px;
	height:100%;
	width:40%;
	display:none;
	text-align:center;
}
#statementsbody .forms{
	position:relative;
	height:auto;
	width:80%;
	margin-left:auto;
	margin-right:auto;
	padding-top:5%;

}
#statementsbody .btn-primary{
	/*position:relative;
	background-color:#30AC59;
	border:none;
	width:auto;
	height:10%;
	padding-top:2%;
	padding-bottom:2%;
	font-size:150%;
	float:left;*/
	position:relative;
	background-color:#30AC59;
	border:none;
	width:100%;
	padding-top:2%;
	padding-bottom:2%;
	font-size:150%;
	font-family: 'Open Sans', sans-serif;
	}
#statementsbody .btn-primary input[type=file]{
	position:absolute;
	top:0;
	right:0;
	min-width:100%;
	min-height:100%;
	opacity:0

}
#statementsbody	.modal-body{
	padding-left:0;
	padding-right:0;
}
#statementsbody	.modal-body input[type="checkbox"]{
	padding-left:0;
	padding-right:0;
	margin-left:10px;
}
.button-row{
	position:relative;
	width:100%;
	padding-top:5%;
	padding-bottom:5%;
}
.image-holder{
	position:relative;
	width:100%;
	margin-top:10%;
}
.classpic{
	position:absolute;
	top:0;
	right:0;
	z-index:1;
	width:10%;
}
.classpic img{
	width:100%;
}
.glyphicon {
	padding-right:10px;
}
