.bg-image {
    background-image: url("images/product.original.jpg");
    /*background-image: responsive;*/
      background-repeat: no-repeat;
      background-position: center center;
      height:40%;
      margin-top:1%;
      margin-bottom:1%;
  }
.camera-panel{
	position:relative;
	width:100%;
	display:table-cell;
	background-color:#333333;
	opacity:0.5;
    height:inherit;
	opacity:0.5;
	text-align:center;
	vertical-align:middle;
}
.camera-icon{
	position:relative;
	width:100%;
	color:#E6E6E6;
	background-color:#333333;
	border:none;
	text-align:center;
	font-size:300%;
}

@media (max-width: 767px){
	.camera-icon{
		font-size:300%;
}
}

.pg_head{
	position:relative;
	height:10%;
	width:100%;
}
.borrow{
	position:relative;
	height:80%;
	top:10%;
}
.borrow .col-sm-1{
	display:table;
	position:relative;
	height:100%;
	
	text-align:center;
}
.back-row{
	width:760px;
	z-index:-1;
}
#params{
	position:relative;
	background:rgba(64,64,64,0.6);
	padding:10px;
	height:100%;
	display:table-cell;
}
.forms{
	position:relative;
}
#statementsbody{
	
	background:rgba(64,64,64,0.6);
	padding:10px;
	height:100%;
	display:none;
}